
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar ajax işlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<br /><br />
<div id="writerlist">
    Buraya yazar gelecek
</div>
@section scripts{ 
<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/Writer/WriterList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);

            }
        });
    });
</script>
}